.panel-button-component {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3px;
    width: auto;
    height: 30px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.panel-button-component span {
    font-size: 0.9rem;
}

.panel-button-component svg {
    font-size: 0.8rem;
}

.panel-button-component:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 100%;
    z-index: 1;
    border-radius: 0 0 3px 3px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.1) 88%,
        var(--color1-bg) 0
    );
    transition: all 0.3s ease;
}

.panel-button-component:hover:before {
    width: 100%;
}

.panel-button-component.normal {
    background: var(--color1-bg);
    color: var(--color1-txt);
}

.panel-button-component.new {
    background: #00a65a;
    color: #fff;
}

.panel-button-component.delete {
    background: #dc3144;
    color: #fff;
}

.panel-button-component.edit {
    background: #037bfd;
    color: #fff;
}

.panel-button-component.cancel {
    background: #db5968;
    color: #fff;
}
